html {
	height: 100%;
}

body {
	background-image: url(../img/illustrativebackdrop.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 88% 83%;
	background-color: #DADADA;
	width: 100%;
	height: 100%;
}

.container {
	background-image: url(../img/rectangle.png);
	background-repeat: no-repeat;
	height: 100%;
}

.login-header {
	display: flex;
	padding-top: 5%;
}

.login {
	padding-top: 5%;
}

.navigation {
	float: right;
	margin-right: 25px;
}

.navigation li {
	color: #FF6204;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.28px;
	line-height: 22px;
	display: inline-block;
}

.workout-companion-header {
	float: center;
	text-align: center;
	padding-left: 25%;
}

.signup {
	padding-left: 30%;
}

.login {
	padding-left: 5%
}

.workout-companion-header h4 {
	color: #191502;
	font-family: Montserrat;
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 1.78px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 1%;
}

.workout-companion-header p {
	color: #191502;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1.28px;
	line-height: 22px;
	text-align: center;
}

.workout-companion-header h6 {
	background-image: url(../img/signupbutton.png);
	background-repeat: no-repeat;
	color: #F7F7FF;
	font-family: Montserrat;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 1.21px;
	text-align: center;
	background-color: #FF6204;
	border-radius: 20.5px;
	width: 175px;
	height: 25px;
}

.create-member {
	display: flex;
	padding-top: 5%;
}

.create-member th {
	text-align: right;
}

.btn-signup {
	margin-top: 2%;
	margin-left: 40%;
}