html {
	height: 100%;
}

body {
	background-image: url(../img/illustrativebackdrop.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	color: #DADADA;
	
} 

.container {
	background-image: url(../img/rectangle.png);
	background-repeat: no-repeat;
	height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr 2fr 0.5fr;
  grid-template-areas: ". . ." ". Member ." ". Start-Workout ." ". Member-Analytics ." ". . .";
  background-color: rgba(255, 98, 4, 0.8700000047683716);
}

.Member {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Avatar Member-Links Admin-buttons" "Avatar . .";
  grid-area: Member;
}

.Avatar { 
	grid-area: Avatar; 
}

.Member-Links { 
	grid-area: Member-Links; 
}

.Admin-buttons { 
	grid-area: Admin-buttons; 
}

.Start-Workout  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". ." "Start-Workout-Button End-Workout-Button";
  grid-area: Start-Workout ;
  
}

.Start-Workout-Button { 
	grid-area: Start-Workout-Button; 
}

.End-Workout-Button { 
	grid-area: End-Workout-Button; 
}

.Member-Analytics { 
	grid-area: Member-Analytics; 
}

.login-header {
	display: flex;
	padding-top: 5%;
}

.login {
	padding-top: 5%;
}

.navigation {
	float: right;
	margin-right: 25px;
}

.navigation li {
	color: #FF6204;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.28px;
	line-height: 22px;
	display: inline-block;
}

.workout-companion-header {
	float: center;
	text-align: center;
	padding-left: 25%;
}

.signup {
	padding-left: 30%;
}

.login {
	padding-left: 5%
}

.workout-companion-header h4 {
	color: #191502;
	font-family: Montserrat;
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 1.78px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 1%;
}

.workout-companion-header p {
	color: #191502;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1.28px;
	line-height: 22px;
	text-align: center;
}

.workout-companion-header h6 {
	background-image: url(../img/signupbutton.png);
	background-repeat: no-repeat;
	color: #F7F7FF;
	font-family: Montserrat;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 1.21px;
	text-align: center;
	background-color: #FF6204;
	border-radius: 20.5px;
	width: 175px;
	height: 25px;
}

.create-member {
	display: flex;
	padding-top: 5%;
}

.create-member th {
	text-align: right;
}

.btn-signup {
	margin-top: 2%;
	margin-left: 40%;
}